services:
  meshnet-bridge-bc:
    build:
      context: .
      dockerfile: Dockerfile.bridgehub
    container_name: meshnet-bridge-bc
    restart: unless-stopped
    env_file:
      - .env-triple-bridge

    # Opci칩n 1 (recomendada en Raspberry): usar red del host
    # network_mode: "host"

    # Opci칩n 2: red bridge (por defecto). En este caso:
    # - si el broker est치 en el mismo compose: BROKER_CTRL_HOST=broker
    # - si el broker est치 fuera: BROKER_CTRL_HOST=IP_real
