[Unit]
Description=Comprobación de nuevas farmacias cada tres horas

[Timer]
OnBootSec=10min
OnUnitActiveSec=3h
Persistent=true
RandomizedDelaySec=60
Unit=meshnet-farmacias-check.service

[Install]
WantedBy=timers.target
