[Unit]
Description=Temporizador diario de farmacias

[Timer]
OnCalendar=*-*-* 08:30:00
Unit=meshnet-farmacias-daily.service

[Install]
WantedBy=timers.target
